.mytable td{
    border: 2px solid var(--mc-gray-dark);
}
.card{
    background-color: var(--mc-skin);
    border: none;
}
h2{
    font-family: 'Syne-bold';
    font-size: clamp(24px, 4.5vw, 56px);
}
.card-i{
    background-color: var(--mc-red);
    background-blend-mode: screen;
    background-repeat: no-repeat; 
    background-size: 11rem 11rem;   
    background-position: center center;
    min-height: 300px;  
    max-height: 350px; 
    min-width: 180px;
    border: 7px solid var(--mc-gray-dark);
}