
<div class="header-pok mt-3"> 
    <div class="container-fluid">
        <div class="row justify-content-start">
            <div class="row col-3 col-sm-2 col-md-2 col-lg-2 justify-content-end">
            <img class="icon-header mr-3" src="../../assets/icons/s1.svg" alt="">
            </div>
            <div class="col-1 col-sm-5 col-md-2 col-lg-4 text-left pl-0 mb-0 pt-2">
            <p class="  header-title">POKÉMON</p>
            </div>
        </div>
    </div>
</div>
<div>
<div class="container-fluid p-0 m-0">
    <div class="row m-0 p-0">
        <div class="col-sm-12 col-md-12 col-lg-4 page-pok" id="component-list">
            <app-page-pokemon></app-page-pokemon>
        </div>

        <div class="col-sm-12 mt-5 col-md-12 col-lg-4 ">
            <app-view-pokemon (pokemonName)="updatePokemonName($event)"></app-view-pokemon>
        </div>

        <div class="col-sm-12 mt-4 col-md-12 col-lg-4 multiple-name">
            <h2 class="mb-0 multiple-name" *ngFor="let number of [1,2,3,4,5,6,7,8,9]">{{namePokemon}}</h2>
        </div>
    </div>
</div>
</div>