
.page-pok{
    border-right: 3px solid var(--mc-gray-dark);
}
.header-pok{
    color: var(--mc-red);
    font-family: 'Syne-bold';
    border-bottom: 3px solid var(--mc-gray-dark);
}
.header-title{
    font-size: clamp(24px, 5vw, 90px);
}

.icon-header{
    height: 8vmax;   
}
.multiple-name{
    font-family: 'Syne-bold';
    font-size: clamp(24px, 5vw, 64px);
}
h2{
    color: var(--mc-gray-dark);
    font-size: 70px;
  -webkit-text-fill-color: var(--mc-skin);
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--mc-gray-dark);
}
@media (max-width: 950px) {
    #component-list {
      border-right:none ; 
    }
}