
<div class="header-pok mt-2"> 
    <div class="container-fluid">
        <div class="row">
            <img class="col-sm-6 col-md-2 ml-2 icon-header" src="../../assets/icons/s1.svg" alt="">
            <h1 class="col-sm-6 col-md-2 text-left pl-0 display-2">POKÉMON</h1>
        </div>
    </div>
</div>
<div>
<div class="container-fluid p-0 m-0">
    <div class="row m-0 p-0">
        <div class="col-sm-12 col-md-4 col-lg-4 page-pok">
            <app-page-pokemon></app-page-pokemon>
        </div>

        <div class="col-sm-12 col-md-4 col-lg-4 align-self-center">
            <app-view-pokemon ></app-view-pokemon>
        </div>

        <div class="col-sm-12 mt-4 col-md-4 col-lg-4 multiple-name">
            <h2 class="display-3 mb-0 ">{{namePokemon}}</h2>
            <h2 class="display-3 mb-0">{{namePokemon}}</h2>
            <h2 class="display-3 mb-0">{{namePokemon}}</h2>
            <h2 class="display-3 mb-0">{{namePokemon}}</h2>
            <h2 class="display-3 mb-0">{{namePokemon}}</h2>
            <h2 class="display-3 mb-0">{{namePokemon}}</h2>
            <h2 class="display-3 mb-0">{{namePokemon}}</h2>
        </div>
    </div>
</div>
</div>